html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-image: url("images/marvel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.album {
  background-image: url("images/marvel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
   /* background-color: #fff; */
   background-image: url("images/marvel.jpg");
   background-position: center;
   background-repeat: no-repeat;
  background-attachment: fixed;
   background-size: cover;
}

  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 65rem;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }


  .list-group-item {
    color: #5e0303;
  }

  .btn {
    background-color: #5e0303;
    border-color:rgb(191, 157, 21);
  }

  .btn:hover {
  background-color:rgb(191, 157, 21);
  color: #5e0303;
}


  h4 {
    color: rgb(191, 157, 21);
  }


  h3 {
    color: rgb(191, 157, 21);
  }

  .col-sm {
  background-color: white;
  border-radius: 25px;
  /* padding: 20px; */
  margin: 20px;
  text-align: center;
  padding: 70px 0;
  border: 3px solid rgb(191, 157, 21);
  text-align: center;
  }


  .col-md-4 {
    float: left;
    padding: 10px;
    display: flex;
    
  }

  .card.mb-4.shadow-sm {
    overflow:hidden;
  }

  .card-img-top {
    width:  300px;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }

